*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Barra de Scroll */
body::-webkit-scrollbar{
	width: 12px;
    background-color: rgba(255, 255, 255, 0.729);
}

body::-webkit-scrollbar-thumb{
	background: linear-gradient(rgb(254,54,119),rgb(254,220,219));
	/* border-radius: 10px;
	border: 3px solid #e2e2e2;    */
}
/* Barra de Scroll */
.container__nav{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.img__nav{
    width: 350px;
}

header{
    width: 100%;
    height: 100vh;
}

.container__header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.4)),
    url('../image/background_1.png');
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;

}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 2.5rem;
    z-index: 1;
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
    z-index: 100;
    position: fixed;
}

.nav__icon{
    width: 40px;
    
}

.nav__links{
    /* background-color: rgb(0, 0, 0);*/
    /*background-color: rgb(254, 220, 219); */
    background: rgba( 255, 167, 166, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
    z-index: 100;
}

.nav__item{
    list-style: none;
}

.nav__link{
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

@media (min-width:768px) {

    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
        
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
        
    }
}

.span > h1{
	padding: 140px 0;
	text-align: center;
	font-size: 70px;
	color: rgb(77, 77, 77);
	font-weight: 500;
}

.container__image{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255), rgba(255, 167, 166, 0.7), rgba(255, 255, 255)), url(../image/torta_8.jpg);
    /* background: linear-gradient(rgb(255,255,255, rgb(65, 129, 203)); */
    /* background-color: rgba(212, 224, 238, 0.2); */
    width: 100%;
    padding: 30px;
    z-index: 50;
}

.container__image h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 50px 0;
    color: #333333;
    text-align: center;
    text-transform: capitalize;
}

.container__image .image__content{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding: 10px;
}

.container__image .image__content .image{
    height: 300px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #898989 1px 0px 50px;
}

.container__image .image__content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border: 12px solid #ffffff;
    border-radius: 5px;
    
}

.container__image .image__content .image:hover img{
    transform: scale(1.02);
    border-radius: 5px;
    
}

.container__image .popup__image{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 1, 0.6);
    
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    
}

.container__image .popup__image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container__image .popup__image img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,-40%);
    border-radius: 5px;
    width: 600px;
    height: 580px;
    object-fit: cover;
    border: 10px solid #ffffff;

    
    box-shadow: #000000 1px 0px 50px;
}

.copyright{
    text-align: center;
    padding: 20px 2px;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width:1024px){
    /* header{
        height: 500px;
    } */

    .container__header{
        width:100%;
        height: 600px;
    }

    
    .span > h1{
        padding: 30px 0;
        text-align: center;
        font-size: 50px;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }
}

@media (max-width:768px){
    header{
        height: 500px;
    }

    .container__header{
        width:100%;
        height: 450px;
    }

    
    .span > h1{
        padding: 20px 0;

        text-align: center;
        font-size: 40px;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .container__image .popup__image img{
        
        width: 480px;
        height: 480px;
        
    }
}

@media (max-width:450px){
    header{
        height: 300px;
    }
    .container__header{
        width:100%;
        height: 250px;
    }

    .span > h1{
        padding: 15px 0;

        text-align: center;
        font-size: 22px;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .container__image .popup__image img{
        left: 42%;
        width: 340px;
        height: 340px;
        
    }

    .container__image h1{
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        padding: 15px;
        color: #333333;
        text-align: center;
        text-transform: capitalize;
    }

    .nav__link{
        font-weight: 500;
        background-color: rgba(212, 224, 238, 0.7);
        padding: 6px;
        color: rgb(72, 72, 72);
    }

    
}

@media (max-width:380px){
    header{
        height: 250px;
    }

    .container__header{
        width:100%;
        height: 200px;
    }

    .span > h1{
        padding: 15px 0;

        text-align: center;
        font-size: 18px;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .container__image .popup__image img{
        left: 42%;
        width: 300px;
        height: 300px;
        
    }

}

@media (max-width:350px){
    header{
        height: 220px;
    }
    .container__header{
        width:100%;
        height: 170px;
    }

    .span > h1{
        padding: 10px 0;

        text-align: center;
        font-size: 22px;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .container__image .popup__image img{
        left: 41%;
        width: 280px;
        height: 280px;
        
    }
}
